.menu{
    background-color:lightgreen;
}
.menu-item{
    align-content:right;
}
.settings{
    background: #DCDCDC;
}
left-fieldsets{
    display:inline;
}
input[type=text]{
    text-align: right
    
}
nav{
    
}