
body{
    font-family:  "Sans serif", "Times New Roman", Times;
}

#game-rules{
    background-color:rgb(235, 235, 235);
}

h1, h3{
    font-family: inherit;
    margin: 2%;
}

p{
    margin: 2%;
    font-family: inherit;
    text-align: justify;
}

ul{
    font-family: inherit;
    list-style-type: none;
}
