body{
    margin: 2px;
}

#game-div{
    background-color:rgb(235, 235, 235);
}

#board-rack{
    display: inline-block;
}

#board-form, #rack-form{
    display: inline-block;
}

.normal-field, .rack-field{
    text-align: center;
    background-color: lightgrey;
    border: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

.wall-field{
    background-color: black;
    border: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

.blind{
    width: 100%;
    height: 100%;
    background-color:green;
    border: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    text-align:center;
    color: white;
    z-index: 2;
   /* position: relative;
    top: 0px;
    left: 0px; */
}

.letter{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(21, 202, 202);
    background-color: rgb(21, 202, 202);
    color: black;
  /*  font-size: 90%; */
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    z-index:1;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    -moz-user-select: none;
}

.letter::selection{
    background-color: rgb(21, 202, 202); 
}

.letter-on-rack{
    border-style: solid;
    border-width: 1px;
    border-color: red;
    z-index:1;
}

.letter-on-board{
    border: none;
}

.joker{
    background-color:rgb(214, 142, 214);
}

#dashboard{
    display: inline-block;
    vertical-align: top;
    background-color:rgb(235, 235, 235);
    border-style: solid;
    border-width: 1px;
    border-color:white;
    margin: 0.5%;
    padding: 0.5%;
}

#dashboard-bottom{
    margin-top: 20px;
    background-color:rgb(235, 235, 235);
}

.UI-button{
    background-color: #4CAF50; 
    border: none;
    color: white;
 /*    padding: 8px; */
    text-align: center;
    text-decoration: none;
   /* display: inline-block;*/
  /*  font-size: 15px; */
  /*  margin: 4px 2px;  */
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.UI-button:disabled{
    color:rgb(194, 202, 194); 
}

.UI-button:focus{
    outline: none;
}

.UI-button::-moz-focus-inner{
    border: 0;
}

input{
    color: #4CAF50; 
    border: none;
    background-color: white;
  /*  padding: 8px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
 /*   font-size: 15px;   */
  /*  margin: 4px 2px; */
    cursor: pointer;
    border-radius: 8px;  
/*    width: 82px;   */
    width: 100%;
    height: 100%;
}

input:focus{
    outline: none;
}

label{
  /*  margin: 4px 2px; */ 
}

input[type=text]{
    text-align: center;
    caret-color: rgb(21, 202, 202);
}

#progressbar-container{
    height:5px;
}

progress[value]{
    color:green;
    width: 100%;
    height: 5px;
    vertical-align:top;
} 

#game-rules{
    display: inline-block;
    background-color:rgb(235, 235, 235);
    border-style: solid;
    border-width: 1px;
    border-color:white;
    width:40%;
    vertical-align: top;
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5%; 
    padding: 0.5%;
}

b{
    color: red;
    background-color: lightgrey; 
    font-weight: 900;
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

p{
    text-align: justify;
    display: block;
}

h1{
    margin: 5px;
    padding: 10px;
    height: 300px;
    background-image: url('/img/szolo.png');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/ 
    background-size: 100%;
}

ul{
    list-style-type: none;
}

#message-text{
    text-align: center;
}

.popup {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}
  
.popup .popupcontent {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
/*    width: 234px; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: fixed;
    z-index: 3;
    bottom: 225px;
    left: 172px;
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#game-results{
   
    display: inline-block;  
    width: 40%;
    vertical-align: top;
}

.popupresult{
    border-radius: 6px;
    padding: 8px;
    background-color: #555;
    color: #fff;    
    display: inline-block;
}

.words-table{
    margin-right: 5px;
    padding: 5px;
}

