
body{
    font-family:  "Arial", "Verdana", "Sans serif", "Times New Roman", "Times";
    padding-left: 20%;
    padding-right: 20%
}

#game-rules{
    background-color:white;
}

h1, h3, h4{
    font-family: inherit;
    margin: 2%;
}

p{
    margin: 2%;
    font-family: inherit;
    text-align: justify;
}

ul{
    margin: 2%;
    font-family: inherit;
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    body {
      padding-left: 1%;
      padding-right: 1%;
    }
  }